#title {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}
input:focus {
  outline: none;
}
/* Remove Arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
}
#number {
  line-height: 30px;
  max-width: 300px;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 0 0;
}
.buttonGroup {
  margin-top: 50px;
}
.button {
  min-height: 50px;
  font-size: 1em;
  font-weight: 900;
  border-radius: 5px;
}
.button:hover {
  background-color: rgb(55, 214, 148);
}
#message {
  margin-bottom: 15px;
  font-size: 2em;
  font-weight: 900;
}
